{% extends 'base2.html.twig' %}

{% block title %}LAV-CSTECH{% endblock %}

{% block body %}

    <!-- **********************************************************************************************************************************************************
        MAIN CONTENT
        *********************************************************************************************************************************************************** -->
    <!--main content start-->
    <section id="main-content">
      <section class="wrapper site-min-height">
        
        <!-- /row -->
        <div class="row content-panel">
          <h2 class="centered"> BIENVENUE A LAVAGE AUTO <br>          
              CET ESPACE VOUS PERMETTRA DE MIEUX GERER VOS ACTIVITES </h2> <br> 
            <!-- end accordion -->
          </div>
          <!-- col-md-10 -->
        </div>
        <!--  /row -->
      </section>
      <!-- /wrapper -->
    </section>
    <!-- /MAIN CONTENT -->
    <!--main content end-->

{% endblock %}
