{% extends 'base2.html.twig' %}

{% block title %}LAV-CSTECH{% endblock %}

{% block body %}

    <!-- **********************************************************************************************************************************************************
        MAIN CONTENT
        *********************************************************************************************************************************************************** -->
    <!--main content start-->
    <section id="main-content">
      <section class="wrapper site-min-height">
        <div class="row mt mb">
          <div class="col-lg-12">
            <h3><i class="fa fa-angle-right"></i> ACCUEIL</h3>
            <br>
            <div class="col-lg-4 col-md-4 col-sm-12">
              <div class="dmbox">
                <h4>Informations personnelles</h4>
                <p>
                
                <form class="form-signin" method="post">
                    <div style="height:270px; width:100%; padding:30px; margin-left:auto; margin-right:auto; background-color:red;">
                    <label for="inputEmail" class="sr-only">Immatriculation du vehicule</label>
                    <input type="email" name="_username" id="inputEmail" class="form-control" placeholder="Immatriculation du vehicule" required autofocus>
                    <br>
                    <label for="inputNom" class="sr-only">Nom du proprietaire</label>
                    <input type="text" name="_nom" id="inputEmail" class="form-control" placeholder="Nom" required autofocus>
                    <br>
                    <label for="inputTelep" class="sr-only">Numero de telephone</label>
                    <input type="text" name="_telephone" id="inputPassword" class="form-control" placeholder="PaTelephone" required>
                   
                    </div>
                </form>
                
                </p>
              </div>
            </div>
            <!-- end dmbox -->
            <div class="col-lg-8 col-md-8 col-sm-12">
              <div class="dmbox">
                <h4>Choix des prestations</h4>
                <p>
                {% %}
                </p>
              </div>
            </div>
            <!-- end dmbox -->
          </div>
          <!--  /col-lg-12 -->
        </div>
        <!-- /row -->
        <div class="row content-panel">
          <h2 class="centered"> <br>          
              CET ESPACE VOUS PERMETTRA DE MIEUX GERER VOS CLIENTS </h2>
            <!-- end accordion -->
          </div>
          <!-- col-md-10 -->
        </div>
        <!--  /row -->
      </section>
      <!-- /wrapper -->
    </section>
    <!-- /MAIN CONTENT -->
    <!--main content end-->

{% endblock %}
