<!--sidebar start-->
    <aside>
      <div id="sidebar" class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion">
          <p class="centered"><a href="profile.html"><img src="{{ asset ('build1/img/ui-sam.jpg') }}" class="img-circle" width="80"></a></p>
          <h5 class="centered">ESPACE MEMBRE</h5>
          <li class="mt">
            <a href="/member">
              <i class="fa fa-dashboard"></i>
              <span>Page accueil</span>
              </a>
          </li>
          <li class="sub-menu">
            <a href="/member">
              <i class="fa fa-desktop"></i>
              <span>Prestation Facture</span>
              </a>
          </li>          
          <li class="sub-menu">
            <a href="/historique">
              <i class="fa fa-desktop"></i>
              <span>Historique</span>
              </a>
          </li>  
        </ul>
        <!-- sidebar menu end-->
      </div>
    </aside>
    <!--sidebar end-->