<!--sidebar start-->
    <aside>
      <div id="sidebar" class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion">
          <p class="centered"><a href="profile.html"><img src="{{ asset ('build1/img/ui-sam.jpg') }}" class="img-circle" width="80"></a></p>
          <h5 class="centered">ESPACE ADMIN</h5>
          <li class="mt">
            <a href="/admin">
              <i class="fa fa-dashboard"></i>
              <span>Page accueil</span>
              </a>
          </li>
          <li class="sub-menu">
            <a href="/lavage/prestation/">
              <i class="fa fa-desktop"></i>
              <span>Prestations</span>
              </a>
          </li>          
          <li class="sub-menu">
            <a href="">
              <i class="fa fa-desktop"></i>
              <span>Utilisateurs</span>
              </a>
          </li>         
          <li class="sub-menu">
            <a href="/rapport">
              <i class="fa fa-desktop"></i>
              <span>Rapports</span>
              </a>
          </li>       
          <li class="sub-menu">
            <a href="">
              <i class="fa fa-desktop"></i>
              <span>Facture</span>
              </a>
          </li>     
          <li class="sub-menu">
            <a href="">
              <i class="fa fa-desktop"></i>
              <span>Parametre</span>
              </a>
          </li>
        </ul>
        <!-- sidebar menu end-->
      </div>
    </aside>
    <!--sidebar end-->