{% extends 'base2.html.twig' %}

{% block body %}

<div class="container">
    <div class="row" style="height: 300px; width:100%; background-color:lightblue;">
        <h1>ACCUEIL PAGE</h1>
    </div>
</div>
{% endblock %}