{% extends 'base1.html.twig' %}

{% block title %}LavagePrestation index{% endblock %}

{% block body %} 

<section id="main-content">
      <section class="wrapper site-min-height">
        <div class="row mt">
          <div class="col-sm-12">
            <section class="panel">
              <header class="panel-heading">                

                <h1>Creer une nouvelle prestation </h1>
              </header>
              <div class="panel-body">

    {{ include('lavage_prestation/_form.html.twig', {'button_label': 'Modifier'}) }}


    {{ include('lavage_prestation/_delete_form.html.twig') }}
    <hr>
    <a href="{{ path('lavage_prestation_new') }}" style="font-size:16px; color:red;">Creer une nouvelle prestation</a> ||
    <a href="{{ path('lavage_prestation_index') }}" style="font-size:16px; color:red;">Retour a la liste</a>

    </div>
            </section>
          </div>
        </div>
        <!-- page end-->
      </section>
      <!-- /wrapper -->
    </section>
    <!-- /MAIN CONTENT -->
    
{% endblock %}
